html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    background-color: #000;
    overflow: hidden;
    position: relative;
    height: 100vh;
    background: radial-gradient(circle at top right, #111, #000);
}

canvas#backgroundCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1; 
}

header {
    text-align: center;
    position: absolute; 
    top: 20px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 2; 
    display: inline-block;
}

header h1 {
    font-size: 3em;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

header h2 {
    font-size: 1.5em;
    color: #aaa; 
    margin: 10px 0 0 0; 
}

.projects {
    text-align: center;
    margin: 20px auto;
    z-index: 2;
    position: absolute;
    top: 175px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.projects.fade-in {
    opacity: 1;
}

.projects h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
    border-bottom: 2px solid #690000;
    display: inline-block;
    padding-bottom: 5px;
}

.projects ul {
    list-style: none;
    padding: 0;
}

.projects li {
    margin: 10px 0;
}

.projects a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.3em;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.projects a:hover {
    color: #850000;
    text-shadow: 0 0 10px rgba(255, 180, 205, 0.5);
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: radial-gradient(circle at top right, #111, #000); 
    color: #ccc; 
    z-index: 2; 
    padding: 10px; 
    box-sizing: border-box; 
}

footer p {
    margin: 0; 
}


.socials-container {
    display: flex;
    justify-content: center; 
    gap: 20px; 
    margin-top: 10px; 
    opacity: 0; 
    transition: opacity 1.5s ease; 
}

.socials-container.visible {
    opacity: 1; 
}

.github-icon, .spotify-icon, .steam-icon {
    text-align: center;
}

.github-icon a, .spotify-icon a, .steam-icon a {
    color: #555;
    font-size: 48px;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.github-icon a:hover, .spotify-icon a:hover, .steam-icon a:hover {
    color: #000;
    transform: scale(1.2);
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh; 
  overflow: hidden;
  pointer-events: none; 
}

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 110%; 
  height: 110%;
  object-fit: cover; 
  transform: scale(1.2); 
  transition: transform 0.1s ease-out; 
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }
    header h2 {
        font-size: 1.2em;
    }
    .projects h2 {
        font-size: 2em;
    }
    .projects a {
        font-size: 1em;
    }
}
