<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IfBars - Software Developer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css">
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
</head>
<body>
    <canvas id="backgroundCanvas"></canvas>
    <header>
        <h1 id="typewriter-name"></h1>
        <h2 id="typewriter-subtitle"></h2>
    </header>
    <section class="projects">
        <h2>Projects</h2>
        <ul>
            <li><a href="https://protv-convertor.onrender.com/" target="_blank">ProTVConvertor</a></li>
            <li><a href="https://github.com/ifBars/VRChat-ProTVConvertor" target="_blank">ProTVConvertor GitHub</a></li>
            <li><a href="https://github.com/ifBars/Infinite-Craft-Simulator" target="_blank">InfiniteCraft Simulator</a></li>
        </ul>
    </section>
    <footer>
        <p>&copy; 2024 Tristen Smith</p>
        <p>This site is under construction</p>
    </footer>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
